# Data validation

## Setup

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────────────────────────────── tidyverse 1.3.0 ──

✓ ggplot2 3.3.2     ✓ purrr   0.3.4
✓ tibble  3.0.3     ✓ dplyr   1.0.0
✓ tidyr   1.1.0     ✓ stringr 1.4.0
✓ readr   1.3.1     ✓ forcats 0.5.0

── Conflicts ────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
na_summary <- arrow::read_feather("data/na_summary_preprocessed.feather")

head(na_summary)

  rowtype      boardname                                                    ned
1 Board Member EQUITY ONE INC (De-listed 03/2017)                           Yes
2 Board Member EQUITY ONE INC (De-listed 03/2017)                           Yes
3 Board Member EQUITY ONE INC (De-listed 03/2017)                           Yes
4 Board Member EQUITY ONE INC (De-listed 03/2017)                           Yes
5 Board Member EQUITY ONE INC (De-listed 03/2017)                           Yes
6 Board Member NATIONAL MEDICAL HEALTH CARD SYSTEMS INC (De-listed 04/2008) Yes
  directorname  rolename
1 David Fischel Independent Director
2 David Fischel Independent Director
3 David Fischel Independent Director
4 David Fischel Independent Director
5 David Fischel Independent Director
6 David Shaw    Director - SD
  rolestatus                                    gender nationality boardid
1 David Fischel joined this role on 04 Jan 2011 M      British     10925
2 David Fischel joined this role on 04 Jan 2011 M      British     10925
3 David Fischel joined this role on 04 Jan 2011 M      British     10925
4 David Fischel joined this role on 04 Jan 2011 M      British     10925
5 David Fischel joined this role on 04 Jan 2011 M      British     10925
6 David Shaw joined this role on 08 Dec 2004    M      American    21616
  clientcompanyid ⋯ nationalitymix numberdirectors stdevtimebrd stdevtimeinco
1 NA              ⋯ 0.4             9              7.1          7.1
2 NA              ⋯ 0.4             9              5.8          5.8
3 NA              ⋯ 0.4            10              5.3          5.3
4 NA              ⋯ 0.4             9              7.1          7.1
5 NA              ⋯ 0.5            10              5.6          5.6
6 NA              ⋯ 0.0            10              2.2          2.1
  stdevtotnolstdbrd stdevtotcurrnolstdbrd stdevnoquals stdevage networksize
1 3.1               1.3                   1.5          8.5      6092
2 3.2               1.2                   1.2          7.7      6092
3 3.0               1.8                   1.1          6.9      6092
4 3.1               1.4                   1.5          8.5      6092
5 3.1               1.5                   1.1          7.3      6092
6 1.4               0.7                   0.8          9.4      4321
  companyid
1 10925
2 10925
3 10925
4 10925
5 10925
6 21616

## Check for duplicates

### Annual report inconsistencies

In [25]:
na_summary %>%
    select(isin, annualreportdate, companyid) %>%
    group_by(isin, annualreportdate) %>%
    summarize(n = n_distinct(companyid)) %>%
    filter(n > 1)

`summarise()` regrouping output by 'isin' (override with `.groups` argument)

  isin         annualreportdate n
1 US30224P2002 2013-12-01       2
2 US30224P2002 2014-12-01       2
3 US30224P2002 2015-12-01       2
4 US30224P2002 2016-12-01       2
5 US30224P2002 2017-12-01       2
6 US30224P2002 2018-12-01       2

In [27]:
na_summary %>%
    filter(isin == "US30224P2002" & annualreportdate == "2013-12-01") %>%
    select(isin, annualreportdate, companyid, everything()) %>%
    head()

  isin         annualreportdate companyid rowtype
1 US30224P2002 2013-12-01       2009179   Board Member
2 US30224P2002 2013-12-01       2009180   Board Member
3 US30224P2002 2013-12-01       2009180   Board Member
4 US30224P2002 2013-12-01       2009179   Board Member
5 US30224P2002 2013-12-01       2009180   Board Member
6 US30224P2002 2013-12-01       2009180   Board Member
  boardname                                                  ned
1 ESH Hospitality Inc (ESH Hospitality LLC prior to 11/2013) Yes
2 EXTENDED STAY AMERICA INC                                  Yes
3 EXTENDED STAY AMERICA INC                                  Yes
4 ESH Hospitality Inc (ESH Hospitality LLC prior to 11/2013) Yes
5 EXTENDED STAY AMERICA INC                                  No
6 EXTENDED STAY AMERICA INC                                  Yes
  directorname    rolename
1 Richard Wallman Independent Director
2 Richard Wallman Independent Director
3 Doug Geoga      Independent Chairman
4 Doug Geoga      Independent Chairman
5 Jim Donald      CEO
6 Anuj Agarwal    Independent Director
  rolestatus                                      gender ⋯ genderratio
1 Richard Wallman joined this role in Nov 2013    M      ⋯ 1
2 Richard Wallman joined this role on 13 Nov 2013 M      ⋯ 1
3 Doug Geoga joined this role on 13 Nov 2013      M      ⋯ 1
4 Doug Geoga joined this role on 12 Nov 2013      M      ⋯ 1
5 Jim Donald joined this role on 13 Nov 2013      M      ⋯ 1
6 Anuj Agarwal joined this role on 13 Nov 2013    M      ⋯ 1
  nationalitymix numberdirectors stdevtimebrd stdevtimeinco stdevtotnolstdbrd
1 0              5               0            0             4.3
2 0              7               0            0             3.1
3 0              7               0            0             3.1
4 0              5               0            0             4.3
5 0              7               0            0             3.1
6 0              7               0            0             3.1
  stdevtotcurrnolstdbrd stdevnoquals stdevage networksize
1 1.5                   0.4          11.8     4173
2 1.2                   0.6           9.0     4173
3 1.2                   0.6           9.0      852
4 1.5                   0.4          11.8      852
5 1.2                   0.6           9.0      768
6 1.2                   0.6           9.0     2435

Looks like there is something funky going on with this one observation. Let's drop it.

### Drop offending observation

In [28]:
na_summary <- filter(na_summary,isin != "US30224P2002")

### Check other variables

In [32]:
na_summary %>%
    select(isin, annualreportdate) %>%
    n_distinct()

na_summary %>%
    select(isin, annualreportdate, companyid, numberdirectors, nationalitymix, genderratio) %>%
    group_by(isin, annualreportdate) %>%
    n_distinct()

[1] 96734

[1] 96734

Looks good

### Multiple annual reports in a year

If there are multple annual reports in any year, the number of entries should be reduced when we extract only the year from the annual report date column.

In [33]:
na_summary %>%
    select(companyid, annualreportdate) %>%
    n_distinct()

[1] 88105

In [34]:
na_summary %>%
    mutate(year = lubridate::year(annualreportdate)) %>%
    select(companyid, year) %>%
    n_distinct()

[1] 87527

Let's drop these, too.

In [46]:
na_summary %>%
    mutate(year = lubridate::year(annualreportdate)) %>%
    group_by(companyid, year) %>%
    mutate(n = n_distinct(annualreportdate)) %>%
    filter(n == 1) %>%
    ungroup() %>%
    select(companyid, annualreportdate) %>%
    n_distinct()

[1] 86949

In [38]:
na_summary %>%
    mutate(year = lubridate::year(annualreportdate)) %>%
    group_by(companyid, year) %>%
    summarize(n = n_distinct(annualreportdate)) %>%
    filter(n > 1)

`summarise()` regrouping output by 'companyid' (override with `.groups` argument)

    companyid year n
1    401      2010 2
2    569      2012 2
3    692      2006 2
4    725      2008 2
5    929      2014 2
6   1477      2015 2
7   1532      2010 2
8   1558      2016 2
9   1874      2005 2
10  2148      2005 2
11  2148      2011 2
12  2175      2004 2
13  2240      2004 2
14  2240      2010 2
15  2240      2016 2
16  2256      2004 2
17  2256      2010 2
18  2256      2016 2
19  2306      2006 2
20  2365      2005 2
21  2365      2011 2
22  2365      2016 2
23  2490      2012 2
24  2507      2005 2
25  2507      2011 2
26  3210      2005 2
27  3210      2011 2
28  3210      2016 2
29  3333      2004 2
30  3383      2005 2
⋮   ⋮         ⋮    ⋮
549 2226780   2017 2
550 2231001   2016 2
551 2237438   2017 2
552 2287919   2015 2
553 2300302   2016 2
554 2300990   2017 2
555 2312125   2016 2
556 2318615   2015 2
557 2344865   2016 2
558 2345888   2017 2
559 2408287   2016 2
560 2456763   2017 2
561 2550972   2017 2
562 2648085   2019 2
563 2648322   2017 2
564 2649311   2017 2
565 2653372   2017 2
566 2655941   2017 2
567 2660892   2017 2
568 2670940   2019 2
569 2682938   2017 2
570 2696047   2018 2
571 2704302   2018 2
572 2759067   2018 2
573 2776448   2018 2
574 2814645   2018 2
575 2987151   2019 2
576 2992532   2019 2
577 3033121   2019 2
578 3043280   2019 2